@if (User.Identity.IsAuthenticated)
{
    <div id="footer">
        <br>
        <button class="btn btn-light">@Html.ActionLink("Homepage", "Index", "Home")</button>

        @using (Html.BeginForm("LogOff", "Account"))
            {
            <input type="submit" class="btn btn-info" value="Log out" />
            }
    </div>
}
else if (User.Identity.IsAuthenticated == false)
{
    <br>
    <div id="footer">
       <button class="btn btn-light">@Html.ActionLink("Homepage", "Index", "Home")</button>
    </div>
}